[2016-05-03 00:55] joncalhoun opened #2 "Oauth flow using the standard oauth2 lib doesn't seem to work"
I've mostly been learning go while using this SDK, so it is very possible I am doing something wrong, but on the off chance you can help I am posting here.

It doesn't seem like the dropbox oauth flow works with the oauth2 library out of the box. From what I can tell, it looks like the `/oauth2/authorize` endpoint works fine, but the `/oauth2/token` endpoint expects some params that aren't provide

[2016-05-03 05:04] smarx commented on #2
I'm not sure this question relates to this particular library, so it may be better moved to another forum, but here's a working app that pretty much just follows the example in the [`golang.org/x/oauth2` library docs](https://godoc.org/golang.org/x/oauth2#example-Config). I'm curious what parameters you think are missing from the call to `/oauth2/token` and why you think that's the issue?

[code]

[2016-05-03 05:05] smarx commented on #2
Also, apologies for my Go... I'm really not that familiar with the language and likely made some newbie mistakes here. Please correct any language issues you see!

[2016-05-03 05:44] diwakergupta commented on #2
Thanks @smarx!

@joncalhoun feel free to use [dbxcli](https://github.com/dropbox/dbxcli/) as a reference app for this SDK as well, e.g.
https://github.com/dropbox/dbxcli/blob/master/cmd/root.go#L149

[2016-05-03 17:19] joncalhoun commented on #2
Thanks @smarx and @diwakergupta.

The example you provided works, and the example in dbxcli works, but in both cases you don't have a redirect URI and I think this is what is missing in the exchange step. Eg:

[code]

Here is my output:

[code]

[2016-05-03 17:43] smarx commented on #2
Your `TokenURL` looks wrong. Not sure if it can ever work with that domain, but at the very least, it will mask the actual error. (This is why you're getting HTML back.)

[2016-05-03 17:51] joncalhoun commented on #2
That was definitely the issue. Sorry to bug you both 😦  For some reason I just assumed it would be the same base, but it makes sense that they aren't.

If you both don't mind I'll push a PR to hopefully prevent others from making the same stupid mistake.

[2016-05-03 17:51] #2 closed

[2016-07-27 08:07] DSpeichert opened #4 "README examples out of date"
All the examples in README have wrong import paths, function signatures, etc.

[2016-07-27 15:02] diwakergupta commented on #4
It certainly is, especially with the breaking changes I pushed last night! Thanks for flagging @DSpeichert , I'll fix this in the next few hours.

[2016-07-27 17:26] diwakergupta commented on #4
This should be fixed now. I will be adding more information to the README this week.

[2016-07-27 20:03] DSpeichert commented on #4
Great, thanks!

[2016-07-27 20:27] DSpeichert commented on #4
The following example is still wrong:
[code]
`not enough arguments in call to users.NewGetAccountArg`

[2016-07-27 20:28] diwakergupta commented on #4
They're just meant to be illustrative, the exact API is easily checked in godocs. Regardless, will fix. BTW, I welcome pull requests :)

[2016-07-27 20:36] DSpeichert commented on #4
I get it and found my way around (actually was looking for GetCurrentUsers). I'm working on an app in Go that will use webhooks and check deltas and pull modified files so new issues and/or PRs are likely coming soon :)

[2016-07-27 20:54] #4 closed

[2016-08-01 10:03] watermint opened #5 "Please set tag before breaking changes"
I know it's unofficial and unsupported version of SDK. But if it possible, please tag versions before breaking changes.

[2016-08-01 19:23] diwakergupta commented on #5
@watermint thanks for the feedback, yes this is definitely the desired direction. I'm still figuring out how best to version the SDK (and how to encode the version within the SDK itself). As soon as I have a clear direction, I will start tagging releases.

[2016-12-21 20:27] dchesterton opened #6 "UploadSessionFinishBatch endpoint does not work"
The UploadSessionFinishBatch endpoint does not work. This is due to CommitInfo.ClientModified's default value being 0001-01-01 00:00:00 +0000 UTC. Setting ClientModified to the current time does not work either as the generated JSON includes milliseconds which the API rejects.

Setting ClientModified to be a pointer to time.Time fixes the first issue but not the second.

[2017-01-17 22:08] teepark opened #7 "non-auth endpoints still send an Authorization header"
I encountered this with `list_folder/longpoll`. Even though it tries to [remove the Authorization header](https://github.com/dropbox/dropbox-sdk-go-unofficial/blob/master/dropbox/files/client.go#L1754), it actually gets [added later by the transport](https://github.com/golang/oauth2/blob/master/transport.go#L46), which used by everything in this package.

So without restructuring the client/transp

[2017-01-17 22:14] teepark commented on #7
Judging by [the user endpoint docs](https://www.dropbox.com/developers/documentation/http/documentation) it looks like this only affects `list_folder/longpoll`. Also none of the business endpoints support auth-less requests.

[2017-01-17 22:15] diwakergupta commented on #7
@teepark bummer, thanks for the report. This definitely used to work, but the transport code has existed since 2014 so not sure what has changed. Do you mind including a verbose output for the failed invocation, along with the cmdline arguments?

[2017-01-17 22:19] teepark commented on #7
@diwakergupta there weren't really any cmdline arguments involved, I was calling the go function [ListFolderLongpoll](https://github.com/dropbox/dropbox-sdk-go-unofficial/blob/master/dropbox/files/client.go#L1737).

It returned the error, `Error in call to API function "files/list_folder/longpoll": Your request includes an Authorization header, but this function does not use it.`

[2017-02-09 06:59] dtjm opened #8 "JSON unmarshal Error in files.Download for photos"
I get a JSON unmarshal error while calling files.Download for photos.  I seem to have narrowed it down to the unmarshalling of the metadata and can reproduce it with this program:

[code]

this outputs:

[code]

[2017-02-23 16:44] posita opened #9 "Update API spec to include Paper"
There's a new API spec (dropbox/dropbox-api-spec@4483042b0016788742a1c4233a56e163e65b3121) that contains the paper endpoints. Consider updating this SDK.

[2017-02-23 17:40] diwakergupta commented on #9
Fixed with 15329d34fca7ee2e4c89f4b8f6adfc8828be998a

[2017-02-23 17:40] #9 closed

[2017-05-20 17:19] ncw opened #11 "files.New() returns an unexported type"
This applies to all the sub modules, but I'll just use `files` as an example.

`files.New(config)` returns  `*files.apiImpl`

Since `apiImpl` starts with a lower case letter it is private. In an external module you can't define a variable of type `*files.apiImpl`, which means that you can't pass the result from `files.New()` to a function, or put it in a structure which makes re-using these handle

[2017-05-21 22:10] ncw opened #13 "Range headers"
I'd like to be able to set Range headers on [Download](https://github.com/dropbox/dropbox-sdk-go-unofficial/blob/master/dropbox/files/client.go#L86) however [DownloadArg](https://github.com/dropbox/dropbox-sdk-go-unofficial/blob/master/dropbox/files/types.go#L696) has no place to put them.

I can work around by getting a [TemporaryLink](https://github.com/dropbox/dropbox-sdk-go-unofficial/blob/mas

[2017-05-23 16:25] ncw commented on #11
After reading more code, I've discovered that the canonical type I should be using is the `files.Client` interface which makes perfect sense!

Apologies for the noise ;-)

[2017-05-23 16:25] #11 closed

[2017-05-23 16:35] ncw commented on #8
I tried your example and it doesn't produce an error for me.

Does it work for you now if you update the repo?

If not which version of Go are you using?

[2017-05-24 04:45] dtjm commented on #8
It works now, thanks (started working as of b222088)

[2017-05-24 04:45] #8 closed

[2017-05-24 05:16] diwakergupta commented on #11
I love issues that self-resolve! I'm always open to feedback on how we can improve the API/interface though, so keep it coming :)

[2017-05-24 12:10] ncw commented on #11
@diwakergupta wrote

he he!

[2017-06-01 17:35] DexterHaslem opened #16 "Make verbose output target configurable?"
Hi,
I see all the verbose outputs use the default log `log.Printf` and friends. I need to keep track of all outbound traffic, so these logs are useful, and I'm able to capture them with `log.SetOutput()` no problem.
 It can be problematic when I am already using the global default log methods.

I understand this code is generated with stone, so my question is if it would be easy to set a custom lo

[2017-07-15 16:36] hexasoftware opened #17 "Timestamps"
Issue:
Error in call to API function "files/upload": HTTP header "Dropbox-API-Arg": client_modified: time data '2017-07-15T16:09:11.172473155Z' does not match format '%Y-%m-%dT%H:%M:%SZ'

Problematic function [files/client.go:3064](https://github.com/dropbox/dropbox-sdk-go-unofficial/blob/master/dropbox/files/client.go#L3064-L3072)

Go timestamps vs dropbox

in some structures such as CommitInfo #

[2017-07-15 22:01] hexasoftware commented on #7
I tried to use this method and had the same issue,

I noticed on the source: [dropbox/sdk.go:96](https://github.com/dropbox/dropbox-sdk-go-unofficial/blob/master/dropbox/sdk.go#L96-L98) an attempt to remove the "Authorization" header, but since for me the client is created with go oauth2 [dropbox/sdk:106](https://github.com/dropbox/dropbox-sdk-go-unofficial/blob/master/dropbox/sdk.go#L109-L114) th

[2017-07-24 20:29] diwakergupta commented on #17
@hexasoftware thanks for the report. Can you include a full stack trace, along with sample code that you are using to issue the request? That will help me repro and debug. Thanks!

[2017-07-24 21:05] diwakergupta commented on #16
@DexterHaslem main constraint here is dependencies: if the Go standard library had a more flexible logger interface, or allowed pluggable loggers, this wouldn't be an issue. As it stands, my only option is to use the `log` package, or introduce yet another SDK-specific abstraction and I've preferred the former. If you have better suggestions, I'm all ears!

[2017-07-24 21:06] diwakergupta commented on #6
@dchesterton can you include the full stack trace with sample code that shows how you are using the API? that will help me repro and fix. Thanks for the report!

[2017-07-24 21:11] #5 closed

[2017-07-24 21:16] DexterHaslem commented on #16
That is an understandable concern, let me clarify. Still using the standard go `log` api is fine, I was just after a way to change it from the global logger. I forked and did this internally:

[code]

If logger is not provided, it could be set to default global logger (stderr) like it currently is setup.
I then changed all verbose `log.Printf()` invocations in clients to `dbx.Logger.Printf()`

If

[2017-07-24 21:21] diwakergupta commented on #16
Ah yes, that makes sense. I welcome PRs if you want to take a stab! :) Otherwise I'll try to get to it sometime this week.

[2017-07-24 21:25] diwakergupta commented on #16
We could model after the AWS SDK, but it might be overkill. I really wish Go had something built-in :(

https://github.com/aws/aws-sdk-go/blob/master/aws/logger.go

[2017-07-24 21:58] DexterHaslem commented on #16
Thanks for the feedback, I will work on a PR. I will do something simple w/o log levels, just changing logger as above to start with!

[2017-07-24 23:00] diwakergupta commented on #17
I think I know what might be going on here. The Dropbox API expects UTC timestamps and doesn't support fractional seconds (https://github.com/dropbox/dropbox-api-spec/blob/master/common.stone#L3). You can see how `dbxcli` supplies the timestamp here: https://github.com/dropbox/dbxcli/blob/master/cmd/put.go#L102  Basically something like this should work:

[code]

Please reopen if this doesn't fix

[2017-07-24 23:00] #17 closed

[2017-07-24 23:00] diwakergupta commented on #6
I think I know what might be going on here. The Dropbox API expects UTC timestamps and doesn't support fractional seconds (https://github.com/dropbox/dropbox-api-spec/blob/master/common.stone#L3). You can see how `dbxcli` supplies the timestamp here: https://github.com/dropbox/dbxcli/blob/master/cmd/put.go#L102  Basically something like this should work:

[code]

Please reopen if this doesn't fix

[2017-07-24 23:00] #6 closed

[2017-07-25 22:08] diwakergupta opened #19 "Warn when deprecated methods are invoked"

[2017-07-25 22:26] #19 closed

[2017-08-07 19:59] #13 closed

[2017-08-08 09:46] ncw opened #22 "files: DeleteV2 method isn't working"
When I tried the DeleteV2 method I get this error

    json: cannot unmarshal object into Go struct field DeleteResult.metadata of type files.IsMetadata

The HTTP transaction looks like this

request

[code]

response

[code]

The verbose logging from the SDK looks like this

[code]

[2017-08-08 09:47] ncw commented on #16
This issue should be closed now the PR has been merged.

[2017-08-08 14:22] #16 closed

[2017-08-09 12:30] ncw commented on #22
Looking at the code I see `DeleteResult` is defined thus

[code]

`IsMetadata` is defined thus

[code]

I don't think it is possible to unmarshal into an interface type. Here is [an example](https://play.golang.org/p/g2YWU7QAsd) modified from the [json docs](https://golang.org/pkg/encoding/json/#Unmarshal).

This probably needs to be done differently with a `json.RawMessage` and calling `IsMetadat

[2017-08-09 16:33] diwakergupta commented on #22
@ncw hmm, the generator probably needs to be tweaked. I'll take a look later today. And yep, as you noted, `IsMetadataFromJSON` exists precisely because we can't unmarshal onto an interface type :) As an example of how the SDK already does this for Union types, check out metadataUnion and the associated UnmarshalJSON method.

[2017-08-09 16:52] diwakergupta commented on #22
Alright, I know the problem. I might push a hacky fix first, and generalize later. Are you blocked on this @ncw ?

[2017-08-09 17:41] ncw commented on #22
I can't update the library as the depreciation warnings make too much noise in my logs without changing the Delete to DeleteV2.

I have a vendored working copy though so take your time!

I noticed in my investigations that IsMetadataFromJSON isn't being called at all at the moment.

[2017-08-09 17:47] #22 closed

[2017-08-11 09:31] ncw commented on #22
I can confirm that this works fine now - thanks :-)

[2017-08-16 14:56] DexterHaslem opened #23 "Logging response body"
Verbose logging prints the response body, when downloading a large file, this naturally results in a very large log. Is there any value in this?

I'm offering to remove it or put it behind a flag if there is a compelling reason to have it

[2017-08-28 16:23] diwakergupta commented on #23
@DexterHaslem it's just meant for debugging, so I'm hoping this is not a huge blocker for people. Otherwise yes, some sort of leveled logging probably makes most sense (e.g. how AWS does it: https://github.com/aws/aws-sdk-go/blob/master/aws/logger.go)

[2017-08-28 16:58] DexterHaslem commented on #23
OK, I will give it a shot putting it behind some log levels as time permits

[2017-09-01 16:21] jacksongabbard opened #25 "Possible feature request: Use a team OAuth token to traverse files for users"
I'm doing some work that involves walking across the entire document tree for all users. Using the API, it seems there's no explicit affordance for supplying a user header or URL param. When I attempt to, I find the following error message:

I'm curious if adding the ability to specify headers in the ListFolderArg object would be a welcome addition (which I'm happy to submit a pull request for). O

[2017-09-01 16:28] jacksongabbard commented on #25
Alas, no sooner do I make a post than I find in the code itself the affordance I hadn't yet found. Never mind me.

https://github.com/dropbox/dropbox-sdk-go-unofficial/blob/master/dropbox/files/client.go#L1697

[2017-09-01 16:28] #25 closed

[2017-09-17 21:38] cheebo opened #26 "Code example for folder listing"
Hi guys, could you please give me the idea how can I get the data from the received list of entries for the folder. all I can see entity has ```IsMetadata``` method and how can I convert it to structs that represents files/folders correct or "extract" data any other way?

My example code works correct (works correct, receive data from dropbox, but only can dump the entity)
[code]

[2017-09-18 09:34] #26 closed

[2017-09-23 11:02] ncw opened #27 "MoveV2 and CopyV2 broken"
Both MoveV2 and CopyV2 methods fail with

    json: cannot unmarshal object into Go struct field RelocationResult.metadata of type files.IsMetadata

I think RelocationResult needs the same treatment as was applied in #22 in particular 350942579f314463a49b660b7a35f01dbf392a7f

[2017-09-25 14:33] ncw commented on #27
I will send a PR to fix this in a little while

[2017-09-28 16:20] #27 closed

[2017-10-02 21:56] #23 closed

[2017-10-16 16:20] mileusna opened #31 "Export appImpl"
Since appImpl structs are not exported it is hard to make a wrapper or to include dbox inside own struct. For example, you can't write something like this.

[code]

And it is actually bad Go practice for exported functions (i.e. `files.New()`) to return un-exported types (i.e. `files.appImpl`)

[2017-10-16 17:31] diwakergupta commented on #31
Please use `files.Client` instead.

Fair point about `New` returning `apiImpl` -- I'll look into changing that. Meanwhile, PRs are welcome!

[2017-10-16 17:31] #31 closed

[2017-10-23 04:25] watermint opened #32 "Could not use batch copy/delete/move operations"
Thank you for maintaining great SDK. I found the following issues during implementing mass file operation tool.

# AsyncJobId

Batch operations usually require using AsyncJobId. But there is no AsyncJobId in a response of {Copy|Move|Delete}Batch.
Type *BatchLaunch also don't have AsyncJobId.

# *BatchCheck fail parsing response

I tried only for MoveBatch. When result tag == "complete", MoveBatchC

[2017-11-02 14:33] ncw opened #33 "Retry-After header not visible to clients"
It states in [the data ingress guide](https://www.dropbox.com/developers/reference/data-ingress-guide):

Unfortunately these headers are not surfaced by the API.

A typical response looks like this

[code]

The easiest way to fix this would be to add a `RetryAfter` field to the base APIError struct, eg

[code]

And fill this from the RetryAfter Header if it was found.

This would need quite a bit

[2017-11-03 07:20] mazebuhu opened #34 "dropbox/files/client.go: if status code is 409 use the response body not header for error parsing"
In case a status code `409` is returned from the API, the response body contains the error JSON not the `Dropbox-API-Result`header.

For example in the `Download` method  on line `1369` the `content` variable should be used  in the `json.Unmarshal` statement not the `body`. The `body` variable will be empty in case of a `409`.

I encountered  the possible bug when I was testing to download a file

[2017-11-07 22:54] ncw opened #35 "Upload too long files give: cannot unmarshal object into Go struct field UploadAPIError.error of type string"
Uploading a too long path causes dropbox api endpoint to return

[code]

However this is not interpreted correctly by the SDK and it in turn reports ` json: cannot unmarshal object into Go struct field UploadAPIError.error of type string`

Here is the full transaction

[code]

Response

[code]

And the error that was reported by the SDK

[code]

This code in `files/client.go` in the `Upload` funct

[2017-11-09 19:29] diwakergupta commented on #32
Thanks for the report. Seems like a bug in the API spec itself?
https://github.com/dropbox/dropbox-api-spec/blob/master/files.stone#L1253

I will double check with the spec authors.

Meanwhile, for the complete issue, can you paste the verbose output when the parsing failure happens?

[2017-11-09 19:37] diwakergupta commented on #32
Actually you are right, this is a bug in the SDK, not the spec. I'll look into it, meanwhile please do add the verbose output if you can -- that will help.

[2017-11-09 19:38] diwakergupta commented on #33
Thanks @ncw , preserving HTTP headers in some generic map might be reasonable. Or we can special case RetryAfter as you suggest. I'll take a look, meanwhile PRs are always welcome :)

[2017-11-09 20:30] #32 closed

[2017-11-09 20:31] diwakergupta commented on #35
@ncw #34 looks similar, might be duplicates? Will take a look

[2017-11-09 20:50] diwakergupta commented on #34
Good catch @mazebuhu ! I believe this is a recent regression :( I know the fix, just need some spare time to patch things up :) Thanks for your patience!

[2017-11-10 22:10] #34 closed

[2017-11-10 22:10] #35 closed

[2017-11-15 15:51] ncw commented on #35
Thanks for fixing this - will give it a go :-)

[2017-11-21 10:08] ncw opened #36 "500 server errors causing "unexpected end of JSON input" errors"
For example during a multipart upload I got this

[code]

[code]

This error was returned by the SDK

[code]

Indicating that the SDK tried to parse the result of the 500 error response.

[2017-11-21 17:43] diwakergupta commented on #36
@ncw thanks for the report. Can you reproduce this with `LogLevel.LogDebug`? That should spit out the full body of the response, and will help me debug the SDK. Thanks!

[2017-11-23 09:35] ncw commented on #36
I included the full body of the response above - there wasn't one!

[2017-11-23 15:45] diwakergupta commented on #36
Heh. Well, I did look around and you're right, the SDK needs to have additional handling for 500 errors, similar to the Python SDK:

https://github.com/dropbox/dropbox-sdk-python/blob/3f109f5a88badb684d39a4eb1909abedafa603f8/dropbox/dropbox.py#L413

[2017-11-29 21:00] diwakergupta commented on #36
@ncw BTW do you have a reliable way of reproducing this? I'm trying to figure out a good way to test any fix I do.

[2017-11-29 22:03] ncw commented on #36
Err, I had about 4 of these when uploading about 2 TB of files with rclone. So reproducable, but not very straight forward!

I have a little shell script you could use with rclone if you want?

[2017-11-30 10:33] ncw commented on #36
Here is my shell script.  You'll need to [set up rclone to point to a dropbox account](https://rclone.org/dropbox/)

Note that the easiest way to test rclone with your changes is to move `vendor/dropbox/dropbox-sdk-go-unofficial` out of the way temporarily, then do a `go install` otherwise rclone will just use the vendored version.

[code]

[2017-12-04 20:45] diwakergupta commented on #36
@ncw I'm pushing a change that should at least properly parse the error and give you a real `APIError` response. Unfortunately, I can't do much about the internal server errors themselves; they can and will continue to happen :-/ LMK if that helps.

[2017-12-08 20:57] DexterHaslem opened #38 "users.Client.GetCurrentAccount() no longer works"
It looks like something changed in the response and a json unmarshal error occurs here:

users/client.go 226

Struct = FullAccount
Field = root_info

[2017-12-08 21:06] diwakergupta commented on #38
@DexterHaslem thanks for the report, I can reproduce this. Investigating.

[2017-12-08 21:16] diwakergupta commented on #38
Alright, I think I know the problem. Will push a fix probably over the weekend.

[2017-12-08 21:28] DexterHaslem commented on #38
Great, appreciate it!

[2017-12-10 10:32] ncw commented on #33
I just noticed that these retry-after errors are now making it into the JSON response

[code]

Does that mean "retry_after" will be available as a Tag on the error now?

[2017-12-10 18:26] diwakergupta commented on #33
@ncw interesting. Either way, I agree exposing these in some way is reasonable -- whether that information comes from the HTTP header or the JSON body is more of an implementation detail.

[2017-12-11 18:01] #38 closed

[2017-12-11 19:23] #36 closed

[2017-12-18 17:35] DexterHaslem opened #39 "users.GetSpaceUsage() allocation no longer populated"
Hi again,
after some recent changes users.GetSpaceUsage() response seems to always leave Allocation properties (team and individual) nil. Just wanted to let you know this was previously working fine

[2017-12-25 04:48] diwakergupta commented on #39
@DexterHaslem how are you reproducing this? Testing via `dbxcli du` still seems to work for me.

[2017-12-28 15:14] DexterHaslem commented on #39
Hi, users client is actually giving me several problems now. In the GetCurrentAccount() response, name is always nil and rest of fields like email are empty, this used to be populated too. Here is how I'm reproducing, generated token or a legit one from oauth flow have same problem. Just plop a good token in here:

[code]

I just did go get -u -v github.com/dropbox/dropbox-sdk-go-unofficial/dropbo

[2017-12-28 18:47] diwakergupta commented on #39
Yes, I'm aware of the `GetCurrentAccount` issue (e.g. `dbxcli account` is crashing right now :( ). So I'm good on the test cases, will try to provide a fix over the holidays!

[2018-01-03 19:58] #39 closed

[2018-02-21 13:19] bweston92 opened #42 "Where to obtain a token."
I want to use this for personal use, I don't need an "app" just the ability to upload pictures via the API.

How would I go about getting a token to do that?

Cannot find anything here: https://www.dropbox.com/developers

[2018-03-13 21:49] DexterHaslem commented on #42
you still need to create an 'app' on your personal account. it will create a personal token representing your account you can use without having to go through oauth flow

[2018-03-14 07:43] #42 closed

[2018-03-14 07:43] bweston92 commented on #42
Thanks, sorry I forgot to close the issue once resolved.

[2018-03-20 11:34] bweston92 opened #43 "Unable to use custom http client."
Attempting to use `github.com/linki/instrumented_http` as a http client.

[code]

Produces:
[code]

[2018-03-20 17:03] diwakergupta commented on #43
You need to ensure your client is configured for HTTP and OAuth authentication. Like so:

[code]

[2018-03-20 17:03] #43 closed

[2018-03-31 20:32] ncw commented on #36
@diwakergupta I've had a recurrence of this issue in https://github.com/ncw/rclone/issues/2158 which turns out to be a 503 error, so I think this fix might need to be more robust.

That issue is about uploading huge files (380GB) to dropbox Enterprise, and the final `/2/files/upload_session/finish` returning `503 Service Unavailable` with an empty body.

I'd really appreciate it if you have time t

[2018-05-23 14:08] ncw opened #44 "json: cannot unmarshal object into Go struct field UploadAPIError.error of type string"
This error

    json: cannot unmarshal object into Go struct field UploadAPIError.error of type string

Is produced when trying to unmarshal this error message

[code]

This is generated by this bit of code

https://github.com/dropbox/dropbox-sdk-go-unofficial/blob/7afa861bfde5a348d765522b303b6fbd9d250155/dropbox/files/client.go#L3502-L3510

So it looks like the type of error being returned doesn'

[2018-05-26 10:54] ncw opened #45 "What is the best way to view files in non default namespaces?"
I'm trying to use namespaces to read users team drives.  I'm using the `users.GetCurrentAccount()` to get the namespaces.

I read in [the docs](https://www.dropbox.com/developers/reference/namespace-guide#nspaths) that I can use an `ns:` prefix (eg  `ns:12345`) on the path.  However this doesn't seem to work :-(

I don't know whether this is me doing something stupid or not, but I I opened [this q

[2018-05-29 14:54] ncw commented on #45
I've had clarification on the forum that the `ns:` prefix does not work with the team space root ID, so it is the `Dropbox-API-Path-Root:` header or nothing.

I've implemented the code wth the `HeaderGenerator` and it seems to work fine.  Is there a better way of doing it?

THanks

[2018-10-03 12:57] mathieucarbou commented on #33
@ncw @diwakergupta : where we are with this issue ? It's been a while and doesn't seem so hard to fix...

[2018-10-03 19:13] mathieucarbou commented on #33
Hi again guys,
I have just sent a PR that I was able to successfully test:
https://github.com/dropbox/dropbox-sdk-go-unofficial/pull/46

[2018-10-08 13:34] yodur2potassium commented on #26
A year or so later, same problem... I can't get my head around it. Seems to have no way to get data from the ListFolderResult

[2018-10-09 14:10] yodur2potassium commented on #26
Ok, after long and painful hours, I managed to get data. you need to type cast the Entries to be able to handle objects, there is no way to know at compile time wich kind of Metadata it is...
[code]

[2018-10-10 08:08] yodur2potassium commented on #26
@diwakergupta no worries, I managed to do what I wanted. That was an evolution on an already existing Go app to grap our Dropbox, I just posted the example so if anyone have the same problem can find a clue :smile:

[2018-11-01 20:59] kerma commented on #7
Still broken :(

[code]

It's weird, because it looks like it should be working:
https://github.com/dropbox/dropbox-sdk-go-unofficial/blob/master/dropbox/files/client.go#L2385
https://github.com/dropbox/dropbox-sdk-go-unofficial/blob/master/dropbox/sdk.go#L139

I already started to believe the HTTP API was broken, but no. Testing with curl and it works as described.

@hexasoftware workaround helpe

[2018-11-16 08:19] ts2909 opened #47 "unexpected end of input error for DeleteV2"
The SDK appears to be calling the v1 endpoint, instead of v2. If I change the endpoint manually it works. Also appears to the same for Move/Copy

2018/11/16 19:16:21 arg: &{/test }
2018/11/16 19:16:21 req: &{POST https://api.dropboxapi.com/2/files/delete HTTP/1.1 1 1 map[Content-Type:[application/json]] {0xc0001ba270} 0x6498a0 16 [] false api.dropboxapi.com map[] map[] <nil> map[]   <nil> <nil> <n

[2018-12-05 03:44] #33 closed

[2018-12-05 03:49] diwakergupta commented on #47
@ts2909 this should be fixed in HEAD, can you try again?

[2018-12-05 03:49] #47 closed

[2018-12-22 17:07] ncw opened #49 "Route versioning causing `DeleteV2` to call the v1 API"
Calling `DeleteV2` on a directory causes an error `unexpected end of JSON input` to be returned instead of the actual error.

Tested with dd3c8f54b43f63a7aaf07486f797a14e549aa2c8 (head of master as of now).

Request

[code]

Response

[code]

Which produces the error `unexpected end of JSON input`

This is quite clearly calling the v1 API - it should be calling `delete_v2`.

Using git bisect I fou

[2018-12-22 22:16] #49 closed

[2018-12-22 22:18] diwakergupta commented on #49
@ncw can you try with v5.4.0? Thanks again for the bug report and the detailed investigation!

[2018-12-26 15:38] ncw commented on #49
@diwakergupta I can confirm that the problem is fixed with 5.4.0 - thanks :-)

[2018-12-29 22:10] PapaCharlie opened #51 "UnmarshalJSON for SaveUrlResult returns an error if the tag is async_job_id"
[line 3067 of files/types.go](https://github.com/dropbox/dropbox-sdk-go-unofficial/blob/master/dropbox/files/types.go#L3067) returns an error because the object cannot be deserialized. Looks like a pretty nasty copy paste bug. I will try to provide a fix

[2019-05-22 14:43] cs-tejas-mulay commented on #44
Hi @ncw ,
I am getting "Error: json: cannot unmarshal object into Go value of type string" even if file name is not long. Filename is just 15 chars long.
I am using latest version of dbxcli:
{MacBook-Pro-4.local}/Users/build$ ./dbxcli-darwin-amd64 version
dbxcli version: v3.0.0
SDK version: 5.4.0
Spec version: 097e9ba

[2019-05-22 16:31] ncw commented on #44
Can you dump the failing HTTP transaction - then we can see if this is related to this issue or not.

[2019-05-31 07:43] cs-tejas-mulay commented on #44
Thanks @ncw .
Can you let me know how to get failing HTTP transaction? Is there any flag to show debug output on screen? Could not find any in help.

[2019-06-03 16:43] ncw commented on #44
You can get the requests if you set the log level to Debug.  Not sure how to do this with dbxcli though - you might have to patch the code.

[2019-06-13 09:27] ncw commented on #44
This is really easy to replicate with this

    rclone mkdir dropbox:"trailing space dir " -vv --dump bodies --retries 1 --low-level-retries 1

[code]

[code]

@diwakergupta I'd send a patch but I'm not sure exactly what the error type should be.

[2019-07-05 20:52] aaronstaley commented on #45
Unfortunately this SDK doesn't natively support this feature. You are supposed to modify the headers per https://www.dropbox.com/developers/reference/namespace-guide

The Python SDK for instance has this built in:
https://github.com/dropbox/dropbox-sdk-python/blob/209bf39ae9dc61c1bf3e83433aa5ef7d7eb84cad/dropbox/dropbox.py#L526

[2019-08-15 01:01] Irooniam opened #52 "http 500 error on listfolder with propertygroups"
Hello,

I created the template, etc and confirmed that the key / value paris are in fact saved via python sdk.

Listing contents of directory works fine, but as soon as I give it a template id i get 500 errors:

resp, err := ff.ListFolder(&df.ListFolderArg{Path: "", IncludePropertyGroups: &dp.TemplateFilterBase{FilterSome: []string{"ptid:abc123"}}})

if err != nil {
        log.Println("list folde

[2019-08-15 19:13] Irooniam commented on #52
I figured out the issue by looking at the API explorer.  Seems .tag needs to be "filter_some" so thus:

fp := dp.TemplateFilterBase{}
    fp.Tagged.Tag = "filter_some"
    fp.FilterSome = []string{"ptid:abc123"}

and then feed the filter to listfolder
arg := df.NewListFolderArg("")
arg.IncludePropertyGroups = &fp
resp, err := ff.ListFolder(arg)

Hopefully this helps someone.

[2019-08-15 19:13] #52 closed

[2019-10-07 23:04] aaronstaley commented on #51
Actually a lot of structures are broken.  InviteeInfo, LinkExpiry, Linkpassword all don't deserialize correctly. (they try to read the body into a field rather than the wrap's field)

[2019-10-10 19:20] ncw opened #54 "Dropbox-Api-Arg needs encoding in the headers"
An rclone user reported file name corruptions when uploading things to Dropbox with rclone - see https://github.com/rclone/rclone/issues/3609 for background.

Greg K in the Dropbox developer forum was kind enough to explain the problem: https://www.dropboxforum.com/t5/API-Support-Feedback/Possible-bug-corrupting-file-names-with-certain-unicode-code/m-p/370538

In summary this was a result of:

1.

[2019-10-22 09:55] ncw commented on #54
I've made a pull request #56 to fix this - PTAL :-)

[2019-10-23 18:23] #51 closed

[2019-10-24 18:50] aaronstaley commented on #44
This should be fixed by #53. Is the issue resolved?

[2019-10-25 13:34] ncw commented on #44
@aaronstaley I can confirm the issue is fixed - thank you :-)

As soon as this hits an official release I'll pull it into rclone.

Thank you :-)

[2019-11-15 20:28] #54 closed

[2019-11-24 07:44] jivox92362 opened #58 "Can't upload files with emojis in the filename"
Dropbox doesn't support emojis from the Emoji 12.0 standard (released in 2019).

https://help.dropbox.com/installs-integrations/sync-uploads/files-not-syncing#incompatible

https://www.dropboxforum.com/t5/Files-folders/Dropbox-not-syncing-files-with-emojis-in-the-filename/m-p/346141/highlight/true#M52256

[2019-11-24 07:46] jivox92362 commented on #58
Also see #44 and rclone/rclone#3481.

[2019-11-24 07:46] #58 closed

[2020-02-06 03:32] KarandeepJohar commented on #44
@ncw I'm closing this as it looks like the issue is fixed!

[2020-02-06 03:32] #44 closed

[2020-03-25 13:30] PtxuncGinovi4 commented on #7
Please give me workaround

[2020-04-20 21:59] gwatts opened #59 "ReportsGetStorage incorrectly encodes dates"
Supplying a `DateRange` to `ReportsGetStorage` results in a full time being sent to the api, rather than just a `YYYY-MM-DD` date as the spec requests, so an error is returned

Passing `nil` works as expected in terms of using a default range.

[code]

results in:
[code]

[2020-04-27 15:57] gwatts opened #60 "team_log.GetEvents fails for some categories"
While calling `team_log.GetEvents`, Some categories of events result in a json decode error; latest observed with the `sharing` category - have exported millions of events successfully from other cateogry types with the same call

Captured a result with debug logging, included below with anonymized values:

[code]

Results in:
[code]

[2020-10-12 16:04] shasderias opened #64 "error returned by files.Download unhelpful when response body is blank"
When an invalid path is provided (e.g. "asdf.csv") as the path to a files.Download call, the returned APIError has an empty string as its ErrorSummary.

I.e. this:
[code]
prints nothing.

The returned error is fine when a valid path is provided, but no file exists at that path ("path/not_found/..." is printed in this case)

Relevant code located at files/client.go:1693, which calls sdk.go:212.

A

[2020-10-21 12:18] kishorkunal-raj opened #65 "Travis job failed in Intel"
Hi All,
I am using Travis-CI to run jobs on Intel architecture but all the jobs are failing stating "Package not found". Logs are below

$ git submodule update --init --recursive

0.01s5.33s$ travis_setup_go

go version go1.9.7 linux/amd64

$ export GOPATH="/home/travis/gopath"

$ export PATH="/home/travis/gopath/bin:/home/travis/.gimme/versions/go1.9.7.linux.amd64/bin:/home/travis/bin:/home/travi

[2020-12-23 15:43] andresmatasuarez commented on #7
any updates here? I'm struggling with the same thing

[2021-01-12 08:06] rajatgoel commented on #7
Hi. I was able to write a dummy test code that makes an invalid request with and without the patch above and confirm that the its not complaining about the token anymore.

Give it a try and if it doesn't work, feel free to re-open the ticket.

[2021-01-12 08:06] #7 closed

[2021-01-14 02:54] rajatgoel commented on #65
Hi @kishorkunal-raj, we have dropped support for Go 1.9 and recently updated the package to use Go modules.

Please give it a try and open a new ticket if it still fails.

[2021-01-14 02:54] #65 closed

[2021-01-26 13:31] phuongTP1998 opened #74 "Can't get .tag: "file" or .tag: "folder" when get list folders API"
I try to get the ".tag" field to identify between files and folders but I don't figure out how to get it from the the sdk
This is how I pass the ListFolderArg

![image](https://user-images.githubusercontent.com/27052181/105851007-118d8880-6015-11eb-8817-33aede0d497e.png)
but the result doesn't appear the ".tag" field

![image](https://user-images.githubusercontent.com/27052181/105851131-3bdf4600-6

[2021-01-26 13:33] phuongTP1998 commented on #74
From the document:
![image](https://user-images.githubusercontent.com/27052181/105851394-9aa4bf80-6015-11eb-89a6-83eca0035e47.png)

[2021-04-06 15:54] ncw opened #75 "Can't not supply an expires in /sharing/create_shared_link_with_settings"
**Describe the bug**

I'd like to create a sharing link **with** supplying `sharing.SharedLinkSettings` but **without** supplying `sharing.SharedLinkSettings.Expires`

**To Reproduce**

Submit a request like this

[code]

The actual JSON submitted to the endpoint is this (formatted for readability)

[code]

Note the `"expires": "0001-01-01T00:00:00Z"`

**Expected Behavior**

I would expect the `ex

[2021-04-06 18:44] rajatgoel commented on #75
So as long as we bump the major version when we make the next release, changing the type should be fine? If so, I think it should be fine to land #76.

[2021-04-20 01:40] #75 closed

[2021-04-29 03:05] Xuanwo opened #77 "Is there any plan to release a new version?"
**Before you start**

No

**What is your question?**

Is there any plan to release a new version?

**Versions**
* What version of the SDK are you using?
v5.6.0
* What version of the language are you using?
golang 1.15
* What platform are you using? (if applicable)
N/A

---

We use this sdk in https://github.com/aos-dev/go-service-dropbox/pull/12#discussion_r621941792 , and we want to track on stab

[2021-05-07 06:10] JinnyYi commented on #77
I have to perform a cast when calling `DeleteV2`. Seems that `DeleteV2APIError` is an error-wrapper for the `DeleteV2` route.
But when I tried to cast the error to `DeleteV2APIError` it failed, and change the type to `DeleteAPIError` it works.

I noticed that the code online has been updated in https://github.com/dropbox/dropbox-sdk-go-unofficial/blob/master/dropbox/files/client.go#L1444. Is there

[2021-05-09 21:10] rajatgoel commented on #77
@diwakergupta are there any instructions on how to release a new version? I am guessing with introduction of Go modules we should tag next release as v6.0.0?

[2021-05-09 21:37] rajatgoel commented on #77
Well apparently this won't work. Go modules require version to be v0 or v1 and we were already at version 5.6.0. Any ideas how to solve this problem?

[2021-05-09 22:30] bubble8773 opened #79 "C++ Plugin For Unreal"
**Why is this feature valuable to you? Does it solve a problem you're having?**
It would be nice if we could have a dropbox plugin for Unreal engine as we would like use dropbox features in our game like importing a file from dropbox to the game folder at runtime.

**Describe the solution you'd like**
To be able to select a file from dropbox and import it into the game at runtime

**Describe alter

[2021-05-10 02:05] Xuanwo commented on #77
If version is bigger than v1, we should append version suffix after module name like

[code]

[2021-05-10 19:12] gwatts commented on #77
for my 2 cents (if worth that!)  - I'd keep the version numbering consistent, and add the `v6` suffix per @Xuanwo suggestion and just update the docs to reflect that that's what people should use to get the latest version.

[2021-05-11 01:36] rajatgoel commented on #77
@gwatts Sounds good.

If one of you can take a quick look at #80 and confirm this is correct, I will merge this and tag this new commit as v6.0.1? That should be it?

[2021-05-11 22:51] #77 closed

[2021-06-14 14:23] danackerson opened #85 "Update documentation to import from /v6/dropbox"
**Describe the bug**
Trying to upgrade to 6.0.x but documentation still mentions importing:
`github.com/dropbox/dropbox-sdk-go-unofficial/dropbox`

I believe this should be changed to `/v6/dropbox/...`

**To Reproduce**
[code]

**Expected Behavior**
[code]

**Actual Behavior**
[code]

**Versions**
* What version of the SDK are you using? upgrading from v5.9.4
* What version of the language are you

[2021-06-14 16:45] #85 closed

[2021-06-16 04:51] rajatgoel commented on #64
#87 fixes this. It will be part of next release.

[2021-06-16 04:51] #64 closed

[2021-06-16 06:07] #45 closed

[2021-10-02 19:39] gwatts commented on #59
Looks like this endpoint, along with the 3 others (`reports/get_activity`, `reports/get_membership` and `reports/get_devices`), that used dates in this format have all been deprecated at this point rendering this no longer relevant; closing.

[2021-10-02 19:39] #59 closed

[2021-10-05 03:32] #60 closed

[2021-10-31 02:18] durga-ganesh opened #103 "OAuth2 flows aren't implemented"
**Why is this feature valuable to you? Does it solve a problem you're having?**
The OAuth2 flows are not implemented in this SDK. I understand that we can use `client_id` and `client_secret` to exchange an `auth_token` to get the `access_token` & use it to init the dropbox-handle on which we perform all the operations.

But how about refreshing the `access_token`s? I see that equivalent flows exis

[2021-11-10 14:19] Robot72 commented on #33
Can you help me?
How can I fix it?
I see this error from productive (this is console script for uploading only one file)
But if I run it from my laptop it works fine
<img width="849" alt="Screenshot 2021-11-10 at 15 17 18" src="https://user-images.githubusercontent.com/5987937/141129720-47ed1d1b-2568-4fd8-adbf-2ad84de17ea8.png">

[2021-11-10 14:20] Robot72 commented on #33
I've spent much time and didn't found any strong reason in dropbox documentation. Only one script to upload this file in one time but I see this error

[2021-11-11 23:36] rajatgoel commented on #33
This error usually means too many concurrent writes are happening to same namespace.

Btw this server side error has nothing to do with SDK. Probably a better question for https://www.dropboxforum.com/?

[2022-02-15 09:33] pi-tau opened #108 "Add context to dropbox http requests"
**Why is this feature valuable to you? Does it solve a problem you're having?**
We have a service that executes requests to dropbox on given PubSub events. We want to stop all running http connections when an event is nacked or times out. Passing an event context to the dropbox requests will be a solution to the problem.

**Describe the solution you'd like**
One solution would be to add a context

[2022-02-24 09:13] chyroc opened #109 "ClientModified marshal format"
2022/02/24 17:07:56 Error in call to API function "files/upload": HTTP header "Dropbox-API-Arg": client_modified: time data '2022-02-24T16:50:46.921728694+08:00' does not match format '%Y-%m-%dT%H:%M:%SZ'

![image](https://user-images.githubusercontent.com/15604894/155494307-0be8d645-9725-41df-8544-592b6802e18f.png)

should format as '%Y-%m-%dT%H:%M:%SZ'

[2022-02-24 11:27] stoyaneft commented on #108
Contexts are really necessary for production use. It would be great if they are added here!